<h1>Wanna play Blackjack?</h1>

<h2>Welcome <%= session[:player_name] %>.</h2>

<div class="well">
  <h4>Dealer's cards:</h4>
  <% session[:dealer_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
</div>


<br/>
<div class="well">
  <h4>Player's cards:</h4>
  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
</div>


<h3>
  What would <%= session[:player_name] %> like to do?</h3>
<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>

<% if @show_hit_or_stay_buttons %>
  <form id="hit_form" action="/game/player/hit" method='post'>
    <input type="submit" class="btn btn-success" value="Hit" />
  </form>
  <form id="stay_form" action="/game/player/stay" method='post'>
    <input type="submit" class="btn btn-warning" value="Stay" />
  </form>
  <br><br>
<% end %>

